@use "utils"

.loginItems
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100%
  gap: 0.5rem
  align-items: stretch

.loginForm, .accountSide
  flex-grow: 1
  @include utils.itemBackground

.loginFormItems
  width: 100%
