// Light theme colors
html.auto, html.light
  --backgroundColor: #bee7f3
  --foregroundColor: rgba(111, 163, 161, 0.25)
  --foregroundOpaque: rgb(89, 165, 172)
  --textColor: rgba(0, 0, 0, 0.9)
  --accentColor: rgb(117, 188, 232)
  --shadowColor: rgba(6, 63, 73, 0.8)

// Dark theme colors
:root
  --dark-backgroundColor: #001823
  --dark-foregroundColor: rgba(59, 94, 108, 0.25)
  --dark-foregroundOpaque: rgb(96, 138, 156)
  --dark-textColor: rgba(240, 240, 240, 0.9)
  --dark-accentColor: rgb(20, 86, 209)
  --dark-shadowColor: rgba(159, 189, 228, 0.8)

@media (prefers-color-scheme: dark)
  html.auto
    --backgroundColor: var(--dark-backgroundColor)
    --foregroundColor: var(--dark-foregroundColor)
    --foregroundOpaque: var(--dark-foregroundOpaque)
    --textColor: var(--dark-textColor)
    --accentColor: var(--dark-accentColor)
    --shadowColor: var(--dark-shadowColor)

html.dark
  --backgroundColor: var(--dark-backgroundColor)
  --foregroundColor: var(--dark-foregroundColor)
  --foregroundOpaque: var(--dark-foregroundOpaque)
  --textColor: var(--dark-textColor)
  --accentColor: var(--dark-accentColor)
  --shadowColor: var(--dark-shadowColor)

// Experimental new themes
html.exp-light
  --backgroundColor: #fdd1ff
  --foregroundColor: rgb(188 131 183 / 0.25)
  --foregroundOpaque: rgb(162, 143, 201)
  --textColor: rgba(0, 0, 0, 0.9)
  --accentColor: rgb(232 117 182)
  --shadowColor: rgb(92 15 88 / 0.8)

html.exp-dark
  --backgroundColor: #170023
  --foregroundColor: rgb(121 112 126 / 0.25)
  --foregroundOpaque: rgb(76 53 89)
  --textColor: rgba(240, 240, 240, 0.9)
  --accentColor: rgb(209 20 149)
  --shadowColor: rgb(223 161 196 / 0.8)

html.exp-dark, html.exp-light
  --headerFont: "Unbounded", sans-serif

// a35hie themes
html.a35hie
  --backgroundColor: #ccbef3
  --foregroundColor: rgba(154, 131, 188, 0.25)
  --foregroundOpaque: rgb(162, 143, 201)
  --textColor: rgba(0, 0, 0, 0.9)
  --accentColor: rgb(159, 117, 232)
  --shadowColor: rgba(63, 15, 92, 0.8)

html.a35hie-dark
  --backgroundColor: #0c0023
  --foregroundColor: rgba(134, 134, 134, 0.25)
  --foregroundOpaque: rgb(69, 53, 89)
  --textColor: rgba(240, 240, 240, 0.9)
  --accentColor: rgb(90, 20, 209)
  --shadowColor: rgba(177, 161, 223, 0.8)

// Geist theme
html.geist
  --backgroundColor: black
  --foregroundColor: rgba(85, 85, 85, 0.25)
  --foregroundOpaque: rgb(110, 110, 110)
  --textColor: rgba(227, 227, 227, 0.9)
  --accentColor: rgb(119, 119, 119)
  --shadowColor: rgba(188, 188, 188, 0.8)

  --globalFont: "Geist", sans-serif
  --headerFont: var(--globalFont)

  *
    letter-spacing: 0 !important
    font-weight: 100 !important

// Neon Dark theme
html.neon
  --backgroundColor: #1a0755
  --foregroundColor: rgba(119, 103, 158, 0.25)
  --foregroundOpaque: rgb(110, 53, 182)
  --textColor: rgba(255, 218, 147, 0.9)
  --accentColor: rgb(209, 20, 206)
  --shadowColor: rgba(154, 122, 255, 0.8)

// Pastel Blue theme
html.pastel-blue
  --backgroundColor: #a7f2ff
  --foregroundColor: rgb(126 211 208 / 0.25)
  --foregroundOpaque: rgb(99 226 255)
  --textColor: rgb(0 82 112 / 0.9)
  --accentColor: rgb(65 227 255)
  --shadowColor: rgb(9 74 94 / 0.8)


// SASS aliases
$backgroundColor: var(--backgroundColor)
$foregroundColor: var(--foregroundColor)
$foregroundOpaque: var(--foregroundOpaque)
$textColor: var(--textColor)
$accentColor: var(--accentColor)
$shadowColor: var(--shadowColor)
