@use "themes"

.light:not(body)
  opacity: 0.4

.transparent
  background: transparent

.autoSpace
  justify-content: space-between
  width: 100%

.noSpace
  gap: 0

.error
  color: red
  text-align: center

@mixin itemBackground
  --postPadding: 0.75rem

  padding: 0.75rem
  background: themes.$foregroundColor
  border-radius: 1.75rem

@mixin maxPaddedWidth
  width: calc(100% - var(--padding)*2)

@mixin maxPostPaddedWidth
  width: calc(100% - var(--postPadding)*2)
