@use "themes"

.light:not(html)
  opacity: 0.4

.transparent
  background: transparent

.fullWidth
  width: 100%

.autoSpace
  justify-content: space-between
  width: 100%

.noSpace
  gap: 0

.error
  color: red
  text-align: center

@mixin itemBackground
  --postPadding: 0.75rem
  --cornerRadius: 1.75rem

  position: relative
  padding: 0.75rem
  background: themes.$foregroundColor
  border-radius: var(--cornerRadius)

  &::after
    content: ""
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    box-shadow: inset themes.$shadowColor 0 -0.5rem 1rem
    border-radius: var(--cornerRadius)
    opacity: 0.1
    pointer-events: none

@mixin maxPaddedWidth
  width: calc(100% - var(--padding)*2)

@mixin maxPostPaddedWidth
  width: calc(100% - var(--postPadding)*2)
