@use "themes"

.light:not(html)
  opacity: 0.4

.transparent
  background: transparent

.fullWidth
  width: 100%

.autoSpace
  justify-content: space-between
  width: 100%

.noSpace
  gap: 0

.noRound
  border-radius: 0

.error
  color: red
  text-align: center

.centerText
  text-align: center

@mixin itemBackground
  --postPadding: 0.75rem
  --cornerRadius: 1.75rem

  position: relative
  padding: 0.75rem
  background: themes.$foregroundColor
  border-radius: var(--cornerRadius)
  box-shadow: inset 0 0.2rem 0.3rem var(--foregroundColor)

@mixin maxPaddedWidth
  width: 100%

@mixin maxPostPaddedWidth
  width: 100%

@mixin listItemBorder
  border-bottom: themes.$foregroundColor 0.1rem solid

// ::before background helper
.background
  isolation: isolate

.background::before
  content: ''
  position: absolute
  inset: 0
  z-index: -1
