$mobileWidth: 50rem

:root
  --tabBarHeight: 0

@media (max-width: $mobileWidth)
  :root
    --tabBarHeight: 3.5rem

$tabBarHeight: var(--tabBarHeight)

// RTL/LTR directions
html
  --leading: left
  --trailing: right

  &[dir="rtl"]
    --leading: right
    --trailing: left
